.box {
    width: 60px;
    background: blue;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }

  .buttonDelete{
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out ;
  }